<style type="text/css">
.mode1 {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
}

.mode1:hover {
	-webkit-transform:scale(1.4);
	-moz-transform:scale(1.4);
	-o-transform:scale(1.4);
	opacity: 1;
	z-index: 9999;
}

#gallery ul{
	list-style-type:none;
}

#gallery ul li{
	display:inline-block;
	padding:10px;
}


</style>